@import (less) "~normalize.css/normalize.css";
@import (less) "~suitcss-base/lib/base.css";
@import (css) url('https://fonts.googleapis.com/css?family=Lato');

textarea { resize: vertical; }

img { max-width: 100%; }

svg { fill: currentColor; }

button, [role=button] {
    @apply .font-sans;
    cursor: pointer;
}

a {
    @apply .text-grey-darkest;
    text-decoration: none;
}

@import 'components/badge';
@import 'components/nav';

@tailwind preflight;
@tailwind utilities;
@tailwind components;