.nav {
    @apply .flex .justify-center;
}

.nav-item {
    @apply .mr-8 .py-6 .text-grey-dark;

    &:last-child {
        @apply .mr-0;
    }
}

.nav-item--active {
    @apply .border-b-2 .border-green .text-grey-darker;
}